{% extends 'operator.' ~ template ~ '.index' %}

{% block title %}
    {{ Lang.get('DattoRMM::lang.name') }}
{% endblock %}

{% block content %}

    {{ form_model(fields, {'method': 'POST', 'route': [ 'plugin.dattormm.settings.update' ], 'class': 'validate'}) }}

        <div class="sp-form-container">

            <div class="sp-form-row">
                {{ form_label('setting', Lang.get('DattoRMM::lang.datto_url')) }}
                <div class="sp-input-container">
                    {{ form_text('datto_url') }}
                    <div class="sp-description">{{ Lang.get('DattoRMM::lang.datto_url_desc') }}</div>
                </div>
            </div>
            <div class="sp-form-row">
                {{ form_label('setting', Lang.get('DattoRMM::lang.datto_api_key')) }}
                <div class="sp-input-container">
                    {{ form_text('datto_api_key') }}
                    <div class="sp-description">{{ Lang.get('DattoRMM::lang.datto_api_key_desc') }}</div>
                </div>
            </div>
            <div class="sp-form-row">
                {{ form_label('setting', Lang.get('DattoRMM::lang.datto_api_sec')) }}
                <div class="sp-input-container">
                    {{ form_text('datto_api_sec') }}
                    <div class="sp-description">{{ Lang.get('DattoRMM::lang.datto_api_sec_desc') }}</div>
                </div>
            </div>
        </div>

        <div class="sp-form-button">
            {{ form_submit(Lang.get('general.save')) }}
        </div>

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}
{% endblock %}